<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>分类新增</title>
</head>
<body>
    <!-- 导航 -->
    <nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment m-padded-mini">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Synear</h2>
                <a href="#" class="item m-mobile-hide"><i class="small home icon"></i>博客</a>
                <a href="#" class="item m-mobile-hide"><i class="small idea icon"></i>分类</a>
                <a href="#" class="item m-mobile-hide"><i class="small tags icon"></i>标签</a>
                <div class="right menu m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="https://picsum.photos/id/1005/100/100">
                            Synear
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/type/input}" class="teal active item">新增</a>
                <a href="#" th:href="@{/admin/type}" class="teal item">列表</a>
            </div>
        </div>
    </div>
    <!-- 中间内容 -->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <form action="#" method="post" th:object="${type}" th:action="@{/admin/type/save}"  class="ui form">
                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">名称</label>
                        <input type="text" name="name" placeholder="分类名称" th:value="*{name}">
                    </div>
                </div>
                <div class="ui error message"></div>
                <!--/*/
                <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                    <i class="close icon"></i>
                    <div class="header">验证失败</div>
                    <p th:errors="*{name}">提交信息不符合规则</p>
                </div>
                 /*/-->
                <div class="ui right aligned container">
                    <a class="ui button" onclick="window.history.go(-1)">返回</a>
                    <button class="ui teal submit button">提交</button>
                </div>
            </form>         
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <!-- 底部 -->
    <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-massive">
    </footer>

    <th:block th:replace="admin/_fragments :: script">

    </th:block>
<script>
    $(".menu.toggle").click(function(){
        $(".stackable.menu").children().not("h2").toggleClass('m-mobile-hide')
    })

    $('.ui.dropdown').dropdown();

    $('.ui.form').form({
        fields : {
            title : {
                identifier : 'name',
                rules : [{
                    type : 'empty',
                    prompt : '请输入分类名称'
                }]
            }
        }
    });

    $('.message .close').on('click',function () {
        $(this).closest('.message').transition('fade');
    })
</script>
</body>
</html>